<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:myname="http://www.zheteng.icu/schema/user" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   						http://www.zheteng.icu/schema/user http://www.zheteng.icu/schema/user.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

	<aop:aspectj-autoproxy/>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://rm-2ze05ay73bf9wk8i5wo.mysql.rds.aliyuncs.com:3306/daily_test"></property>
		<property name="username" value="yang"></property>
		<property name="password" value="yang!QAZ2wsx"></property>
	</bean>

	<bean id="userService" class="com.yang.jdbc.UserServiceImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

</beans>